.conditions {
  background: white;
  padding: 25px 20px;
  margin-top: 15px;
}

.conditions h2 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

/* Grid */
.condition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

/* Box */
.condition-box {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
}

.condition-box:hover {
  border-color: #009688;
  background-color: #f0fdfa;
  transform: translateY(-5px);
}

/* Image */
.condition-box img {
  width: 40px;
  margin-bottom: 8px;
}

/* Text */
.condition-box span {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
