.onboard-header {
  background: #0a4fa3;
  padding: 20px 0;
  color: white;
  margin-bottom: 10px;
}

.onboard-header .container {
  width: 100%;
  max-width: 950px;
  margin: auto;
  padding: 0 15px;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
}

.header-sub {
  font-size: 15px;
  margin-top: 3px;
  color: #d0e4ff;
}
